header {
  background-image: var(--linear);
  padding: 30px 510px;
}

#titles-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title-one {
  color: white;
  font-family: 'LexendDeca';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#title-two {
  color: white;
  font-family: 'LexendDeca';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#search-bar {
  width: 100%;
  height: 65px;
  padding: 21px 64px;
  margin-top: 60px;

  color: white;
  font-size: 18px;
  font-family:Inter-Regular ;

  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);

  background-image: url(image/ant-design_search-outlined.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 17px;
  background-position-y: 17px;
}

#search-bar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
