@charset "UTF-8";

:root {
  /*Color Stystem*/

  --suport-01: #3ea1db;
  --suport-02: #0bb07b;
  --suport-03: #ffce52;
  --suport-04: #f03d3d;
  --suport-05: #e0e0e0;

  --band-color: #574ae8;

  --dark-10: #1a202c;
  --dark-20: #717171;
  --dark-30: #f3f5f7;
  --dark-40: #ffffff;
}

@font-face {
  font-family: Lexend;
  src: url(font/LexendDeca-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
}


